/* Main style formating for index page */

header{
    position: fixed;
    width: 95%;
    margin-left: 2%;
}

header img{
    padding-right: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    
}

button {
    background-size: cover; /* Ensures the image covers the entire button */
    border: none;
    cursor: pointer;
  }

.modeSwitchs {
    width: 70px;
    height: 50px;
    object-fit: cover;
    float: right;
    margin-right: 10px;
}

.mainForm {
    margin: auto;
    width: 75%;
    padding: 10px;
    /* padding-top: 100px; */
    position: relative;
    top: 100px;
}

.smallInput {
    border-radius: 5px;
    border: 0px ;
}

.longText {
    padding: 10px;
    margin: 10px;
}

.bigInput {

    display: inline-block;
    width: 300px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resizing */
    vertical-align: top;
    white-space: pre-wrap;
    overflow: auto;
    /* word-break: break-all; */
}

.extraText {
    width: 85%; /* Set width to 90% of the viewport width */
    height: 200px; /* Adjust the height as needed */
    padding: 6px;
    font-size: 16px;
    line-height: 1.4;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

footer{
    padding: 20px;
    justify-content: center;
    position: absolute;
    bottom: 0;

}


.subButton{
    border-radius: 5px;
    height: 30px;
    width: 48%;
}

.forwardButton{
    border-radius: 5px;
    height: 30px;
    width: 48%;

}